<persistence>
	<persistence-unit name="citizens">
		<description>
			Citizen registry
		</description>
		<class>org.tinyjpaclient.model.Citizen</class>

		<properties>
			<property name="javax.persistence.jdbc.user" value="sa" />
			<property name="javax.persistence.jdbc.password" value="" />
			<property name="javax.persistence.jdbc.url"
				value="jdbc:h2:mem:persisttest;DB_CLOSE_DELAY=-1" />
			<property name="javax.persistence.jdbc.driver"
				value="org.h2.Driver" />
		</properties>

	</persistence-unit>
</persistence>
